@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
html, body {
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
}
a {
	display: inline-block;
}
* {
	font-family: "Roboto Condensed", Arial, sans-serif;
	box-sizing: border-box;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
#page-wrapper {
	padding-top: 185px;
	padding-bottom: 200px;
}
html {
	background-image: url("../images/1.jpg");
	background-size: 100%;
}
#page-wrapper {
	min-height: 100%;
}
#page-wrapper {
	background-image: url("../images/d2.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100%;
}
body {
	background-image: url("../images/3.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100%;

}
#primary-menu {
	background: #ff9700;
	height: 75px;
	width: 50%;
	position: relative;
	margin-top: 0;
	margin-left: 300px;
}
#primary-menu::before {
	content: " ";
	position: absolute;
	top: 0;
	left: -76px;
	border: 38px solid transparent;
	border-right-color: #FF9700;
	border-bottom-color: #FF9700;

}
#primary-menu::after {
	content: " ";
	position: absolute;
	top: 0;
	right: -76px;
	border: 38px solid transparent;
	border-left-color: #FF9700;
	border-bottom-color: #FF9700;
	}
#primary-menu > ul {
	padding: 0;
	margin: 0;
	font-size: 0;
	overflow: hidden;
	text-align: center;
}
#primary-menu> ul > li {
	display: inline-block;
	list-style: none;
	font-size: 16px;
}
#primary-menu > ul > li a {
	color:#fff;
	text-decoration: none;
	height: 75px;
	line-height: 75px;
	padding: 0 15px;
	position: relative;
	color: #fff;
	z-index: 999;
}
#primary-menu > ul >li a:hover {
	color: #333;
}
#primary-menu > ul >li a::before {
	content: " ";
	position: absolute;
	left: -4px;
	top: -115px;
	width: 100%;
	height: 215px;
	transform: rotate(15deg);
	background-color: rgba(255, 255, 255, 1);
	z-index: -1;
	opacity: 0;
}
#primary-menu > ul > li a:hover::before {
	opacity: 1;
}
#secondary-menu{
	background: #061727;
	height: 100px;
	width: 100%;
	margin: 0 auto;
	padding: 0 50px;
	text-align: center;
}
#secondary-menu > ul{
	padding: 0;
	margin: 0;
	display: inline-block;
	line-height: 100px;
}
#secondary-menu > ul > li{
	display: inline-block;
	list-style: none;
	margin-right: 20px;
}
#secondary-menu > ul > #logo{
	width: 500px;
	position: relative;
}
#secondary-menu > ul > #logo > img{
	position: absolute;
	width: 350px;
	left: 80px;
	top: -40px;
}
#secondary-menu > ul > li > a{
	text-decoration: none;
	color: #fff;
}
#secondary-menu > ul > li > a:hover{
	color: #FF9700;
}
#slider{
	border: 10px solid #061727;
	height: 400px;
	overflow: hidden;
	margin-bottom: 0;

}
#content-wrapper{
	background-color: #fff;
}
#content, #sidebar{
	float: left;
	padding: 40px;
}
#content{
	width: 75%;
}
#sidebar{
	width: 25%;
}
.clear{
	clear: both;
}
#footer{
	background: #ff9700;
	height: 75px;
	line-height: 75px;
	text-align: center;
	width: 50%;
	position: relative;
	margin-top: 0;
	margin-left: 300px;
}
#footer::before {
	content: " ";
	position: absolute;
	top: 0;
	left: -76px;
	border: 38px solid transparent;
	border-right-color: #FF9700;
	border-top-color: #FF9700;

}
#footer::after {
	content: " ";
	position: absolute;
	top: 0;
	right: -76px;
	border: 38px solid transparent;
	border-left-color: #FF9700;
	border-top-color: #FF9700;
}
#feedback{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 300px;
	background-color: blue;
	display: none;
}
#feedback-open{
	background-color: green;
	width: 200px;
	height: 35px;
	position: fixed;
	bottom: 0;
	right: 0;
}