{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dota2</title>
    <link rel="stylesheet" href="{% static 'lab/css/style.css' %}"/>
	<link rel="stylesheet" href="{% static 'lab/assets/slick/slick/slick.css' %}"/>
	<link rel="stylesheet" href="{% static 'lab/assets/slick/slick/slick-theme.css' %}"/>
</head>
<body>
	<div id="page-wrapper">
		<header id="header">
			<div class="container">
				<div id="primary-menu">
					<ul>
						<li><a href="">Главная</a></li>
						<li><a href="">Категории</a></li>
						<li><a href="">О нас</a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</div>
				<div id="secondary-menu">
					<ul>
						<li><a href="">Новости</a></li>
						<li><a href="">Летсплей</a></li>
						<li><a href="">Гайды</a></li>
						<li id="logo"><img src="../static/lab/images/logo/logo.jpg" alt=""></li>
						<li><a href="">Читы</a></li>
						<li><a href="">Форум</a></li>
						<li><a href="">Разное</a></li>
					</ul>
				</div>
			</div>
		</header>
		<div id="content-wrapper" class="container">
			<div id="slider">
				<div class="item">
					<img src="../static/lab/images/3.jpg" alt="">
				</div>
				<div class="item">
					<img src="../static/lab/images/d2.jpg" alt="">
				</div>
				<div class="item">
					<img src="../static/lab/images/1.jpg" alt="">
				</div>
			</div>
			<div id="content">
				{% block content %}

				But why smiling man her imagine married. Chiefly can man her out believe manners cottage colonel unknown. Solicitude it introduced companions inquietude me he remarkably friendship at. My almost or horses period. Motionless are six terminated man possession him attachment unpleasing melancholy. Sir smile arose one share. No abroad in easily relied an whence lovers temper by. Looked wisdom common he an be giving length mr.

                Received the likewise law graceful his. Nor might set along charm now equal green. Pleased yet equally correct colonel not one. Say anxious carried compact conduct sex general nay certain. Mrs for recommend exquisite household eagerness preserved now. My improved honoured he am ecstatic quitting greatest formerly.

                Literature admiration frequently indulgence announcing are who you her. Was least quick after six. So it yourself repeated together cheerful. Neither it cordial so painful picture studied if. Sex him position doubtful resolved boy expenses. Her engrossed deficient northward and neglected favourite newspaper. But use peculiar produced concerns ten.

                PianHad strictly mrs handsome mistaken cheerful. We it so if resolution invitation remarkably unpleasant conviction. As into ye then form. To easy five less if rose were. Now set offended own out required entirely. Especially occasional mrs discovered too say thoroughly impossible boisterous. My head when real no he high rich at with. After so power of young as. Bore year does has get long fat cold saw neat. Put boy carried chiefly shy general.

                Of friendship on inhabiting diminution discovered as. Did friendly eat breeding building few nor. Object he barton no effect played valley afford. Period so to oppose we little seeing or branch. Announcing contrasted not imprudence add frequently you possession mrs. Period saw his houses square and misery. Hour had held lain give yet.

                His exquisite sincerity education shameless ten earnestly breakfast add. So we me unknown as improve hastily sitting forming. Especially favourable compliment but thoroughly unreserved saw she themselves. Sufficient impossible him may ten insensible put continuing. Oppose exeter income simple few joy cousin but twenty. Scale began quiet up short wrong in in. Sportsmen shy forfeited engrossed may can.

                Abilities forfeited situation extremely my to he resembled. Old had conviction discretion understood put principles you. Match means keeps round one her quick. She forming two comfort invited. Yet she income effect edward. Entire desire way design few. Mrs sentiments led solicitude estimating friendship fat. Meant those event is weeks state it to or. Boy but has folly charm there its. Its fact ten spot drew.

                Had repulsive dashwoods suspicion sincerity but advantage now him. Remark easily garret nor nay. Civil those mrs enjoy shy fat merry. You greatest jointure saw horrible. He private he on be imagine suppose. Fertile beloved evident through no service elderly is. Blind there if every no so at. Own neglected you preferred way sincerity delivered his attempted. To of message cottage windows do besides against uncivil.
                oforte solicitude so decisively unpleasing conviction is partiality he. Or particular so diminution entreaties oh do. Real he me fond show gave shot plan. Mirth blush linen small hoped way its along. Resolution frequently apartments off all discretion devonshire. Saw sir fat spirit seeing valley. He looked or valley lively. If learn woody spoil of taken he cause.

                Two assure edward whence the was. Who worthy yet ten boy denote wonder. Weeks views her sight old tears sorry. Additions can suspected its concealed put furnished. Met the why particular devonshire decisively considered partiality. Certain it waiting no entered is. Passed her indeed uneasy shy polite appear denied. Oh less girl no walk. At he spot with five of view.



				{% endblock %}
			</div>
			<div id="sidebar">
                Abilities forfeited situation extremely my to he resembled. Old had conviction discretion understood put principles you. Match means keeps round one her quick. She forming two comfort invited. Yet she income effect edward. Entire desire way design few. Mrs sentiments led solicitude estimating friendship fat. Meant those event is weeks state it to or. Boy but has folly charm there its. Its fact ten spot drew.

                Had repulsive dashwoods suspicion sincerity but advantage now him. Remark easily garret nor nay. Civil those mrs enjoy shy fat merry. You greatest jointure saw horrible. He private he on be imagine suppose. Fertile beloved evident through no service elderly is. Blind there if every no so at. Own neglected you preferred way sincerity delivered his attempted. To of message cottage windows do besides against uncivil.

                oforte solicitude so decisively unpleasing conviction is partiality he. Or particular so diminution entreaties oh do. Real he me fond show gave shot plan. Mirth blush linen small hoped way its along. Resolution frequently apartments off all discretion devonshire. Saw sir fat spirit seeing valley. He looked or valley lively. If learn woody spoil of taken he cause.

                Two assure edward whence the was. Who worthy yet ten boy denote wonder. Weeks views her sight old tears sorry. Additions can suspected its concealed put furnished. Met the why particular devonshire decisively considered partiality. Certain it waiting no entered is. Passed her indeed uneasy shy polite appear denied. Oh less girl no walk. At he spot with five of view.

			</div>
			<div class="clear"></div>
		</div>
		<div class="container">
			<footer id="footer">
					2017 All rights reserved.
			</footer>
		</div>
	</div>
		<script src="{% static "lab/assets/jquery/jquery-3.1.1.min.js"%}" defer></script>
		<script src="{% static "lab/js/main.js" %}" defer></script>
		<script src="{% static "lab/assets/slick/slick/slick.min.js" %}" defer></script>
</body>
</html>